footer {
    background-color: #56CCF2;
    padding: 20px 0px;
}

footer h1 {
    color: #fff;
    text-align: center;    
    font-size: 50px;
    font-weight: 800; 
}

footer .footer-icons {
    text-align: center;
    padding: 18px 150px;
}
.footer-icons img {
    width: 30px;
}